<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title() }}</mat-card-title>
    @if (timestamp()) {
      <mat-card-subtitle>{{ timestamp() | date: 'medium' }}</mat-card-subtitle>
    }
  </mat-card-header>
  <mat-card-content>
    <mat-chip-listbox>
      <mat-chip-option [selectable]="false" [style.background-color]="'#e0e0e0'"
        >Total: {{ summary().total }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().PASSED"
        >Passed: {{ summary().passed }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().FAILED"
        >Failed: {{ summary().failed }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().SKIPPED"
        >Skipped: {{ summary().skipped }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().ERROR"
        >Error: {{ summary().error }}
      </mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
