<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title() }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Date: {{ date() | date: 'fullDate' }}</p>
    <mat-chip-listbox>
      <mat-chip-option [selectable]="false" [style.background-color]="'#e0e0e0'"
        >Total: {{ summary().total }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().SUCCESS"
        >Passed: {{ summary().passed }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().FAILURE"
        >Failed: {{ summary().failed }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().SKIPPED"
        >Skipped: {{ summary().skipped }}
      </mat-chip-option>
      <mat-chip-option [selectable]="false" [style.background-color]="colors().ERROR"
        >Error: {{ summary().error }}
      </mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
</mat-card>
