.nav-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.nav-bar-drawer {
  flex: 1;
  overflow: hidden;
}

.home {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  cursor: pointer;
}
