<div class="nav-bar-container">
  <mat-toolbar>
    @if (layout.hasValue() && layout.value().pages.length > 1) {
      <button matIconButton aria-label="more button" (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    }

    <div class="home" (click)="navigateHome()">
      <img
        src="images/logo_without_text.svg"
        alt="Test Prism Logo"
        class="logo"
        width="40"
        height="40" />
      <span>Test Prism</span>
    </div>
  </mat-toolbar>

  <app-navbar-drawer class="nav-bar-drawer">
    <ng-content></ng-content>
  </app-navbar-drawer>
</div>
