<div class="widget-container">
  @if (parameters()?.title) {
    <h2>{{ parameters()?.title }}</h2>
  }
  <app-test-filter-input (filterChanged)="onFilterChange($event)" />

  <app-test-tree
    [colors]="colors()"
    [tests]="tests()"
    [strategy]="treeOrganizationStrategy()"
    [filterStrategy]="filterStrategy()"
    [sortStrategies]="sortStrategies()"
    (testSelected)="onTestSelected($event)" />

  @if (selectedTest()) {
    <app-test-details-drawer
      [test]="selectedTest()!"
      [colors]="colors()"
      (close)="closeDrawer()" />
  }
</div>
