.filter-full-width {
  width: 100%;
}

.status-filter-label {
  display: block;
  font-weight: 500;
}

.status-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-group {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
