@if (widget(); as w) {
  <div [ngStyle]="w.style">
    @switch (w.type) {
      @case ('distribution-pie') {
        <app-test-distribution-pie [tests]="tests()" [parameters]="w.parameters" />
      }
      @case ('tree') {
        <app-tree-widget [tests]="tests()" [parameters]="w.parameters" />
      }
      @case ('container') {
        <app-container-widget [children]="w.children" [testReports]="testReports()" />
      }
      @case ('summary') {
        <app-summary-widget [tests]="tests()" [date]="date()" [parameters]="w.parameters" />
      }
    }
  </div>
}
